.gate {
    display: flex;
    margin-top: 7.25rem;
    justify-content: center;
}

.gate__form-div {
    position: relative;
    margin-bottom: var(--mb-2);
    height: 4rem;
    display:flex;
    align-items: center;
}

.gate__form-input {
    width: 360px;
    height: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    background: none;
    color: var(--text-color);
    outline: none;
    border-radius: 0.75rem;
    padding: 1.5rem;
    z-index: 1;
}

.gate__form-tag {
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: 0.25rem;
    background-color: var(--body-color);
    z-index: 10;
}
